<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>toDoList | backbone</title>
    <link rel="stylesheet" href="styles/reset.css"/>
    <link rel="stylesheet" href="styles/jquery-ui.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
    <div class="wrap">
        <div class="wrap_header"><div class="header">toDoList</div></div>
        <div class="main">
            <div class="left_col">
                <div class="add_task">
                    <h1>add new task</h1>
                    <form action="">
                        <table>
                            <tr>
                                <td><span class="ui-icon ui-icon-star"></span></td>
                                <td><span class="ui-icon ui-icon-calendar"></span>
                                    <input type="text" class="datepicker_start" value="date start" readonly> :
                                    <input type="text" class="datepicker_end" value="date end" readonly></td>
                            </tr>
                            <tr>
                                <td>title</td>
                                <td><input type="text" class="new_task_title" placeholder="type your task's title here"/></td>
                            </tr>
                            <tr>
                                <td>comment</td>
                                <td> <textarea class="new_task_comment" placeholder="type your task's comment here"></textarea></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div class="button_add_new_task">add task</div></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="complited">
                    <h1>complited</h1>
                    <div class='placeholder'>complited tasks will be moved here</div>
                </div>
                <div class="canceled">
                    <h1>canceled</h1>
                    <div class='placeholder'>canceled tasks will be moved here</div>
                </div>
            </div>
            <div class="right_col">
                <div class="in_work">
                    <h1>in work</h1>
                    <div class='placeholder'>new task will be moved here after adding</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap_footer"><div class="footer">&copy; perekrestov igor</div></div>


    <script type="text/template" id="blank2">
            <div class="task_main_block">
                <div class="task_first_row">
                    <div class="task_attr">
                        <span class="ui-icon ui-icon-star"></span>
                        <span class="ui-icon ui-icon-calendar"></span>
                        <span class="task_date_start"><%= data_start %></span> :
                        <span class="task_date_end"><%= data_end %></span>
                    </div>
                    <div class="task_button_edit" title="edit"><span class="ui-icon ui-icon-pencil"></span></div>
                    <div class="task_button_cancel" title="cancel"><span class="ui-icon ui-icon-close"></span></div>
                    <div class="task_button_done" title="done!"><span class="ui-icon ui-icon-check"></span></div>
                    <div class="task_button_delete" title="remove forever"><span class="ui-icon ui-icon-closethick"></span></div>
                    <div class="task_button_backInWork" title='return "in work"'><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></div>
                </div>
                <div class="task_second_row">
                    <div class="task_title"><%= title %></div>
                    <div class="task_button_showComment" title="show task's comment"><span class="ui-icon ui-icon-zoomin"></span></div>
                </div>
            </div>
            <div class="task_comment">
                <%= comment %>
            </div>
    </script>

    <script type="text/template" id="blank2_editing_mode">
        <div class="task_module">
            <div class="task_main_block">
                <div class="task_first_row">
                    <div class="task_attr">
                        <span class="ui-icon ui-icon-star"></span>
                        <span class="ui-icon ui-icon-calendar"></span>
                        <input type='text' class='task_date_start' readonly> :
                        <input type='text' class='task_date_end' readonly>
                    </div>
                    <div class="task_button_edit" title="edit"><span class="ui-icon ui-icon-circle-check"></span></div>
                    <div class="task_button_cancel" title="cancel"><span class="ui-icon ui-icon-close"></span></div>
                    <div class="task_button_done" title="done!"><span class="ui-icon ui-icon-check"></span></div>
                    <div class="task_button_delete" title="remove forever"><span class="ui-icon ui-icon-closethick"></span></div>
                    <div class="task_button_backInWork" title='return "in work"'><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></div>
                </div>
                <div class="task_second_row">
                    <input type='text' class='' value='<%= title %>' autofocus/>
                    <div class="task_button_showComment" title="show task's comment"><span class="ui-icon ui-icon-zoomin"></span></div>
                </div>
            </div>
            <textarea type='text' class='task_comment' style="display: none"><%= comment %></textarea>
        </div>
    </script>

    <script type="text/template" id="confirmation_delete_template">
        <div id='confirmation_delete' title='Removal task!'>
            <p><span class='ui-icon ui-icon-alert ui-icon-in-modal-window'></span>
                Are you sure you want to delete the task?
            </p>
        </div>
    </script>

    <script type="text/template" id="warning_empty_title_template">
        <div id='warning_empty_title' title='Field title isn`t filled!'>
            <p><span class='ui-icon ui-icon-alert ui-icon-in-modal-window'></span>
                It is necessary to fill the field title.
            </p>
        </div>
    </script>

    <script type="text/template" id="warning_editing_mode_template">
        <div id='warning_editing_mode' title='Edit mode is active!'>
            <p><span class='ui-icon ui-icon-alert ui-icon-in-modal-window'></span>
                You first need to finish editing.
            </p>
        </div>
    </script>

    <script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/underscore-min.js"></script>
    <script type="text/javascript" src="scripts/backbone-min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>