@font-face {
  font-family: 'KelsonSans-LightRU';
  src: url('../fonts/KelsonSans-LightRU.eot');
  src: url('../fonts/KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KelsonSans-LightRU.woff2') format('woff2'),
       url('../fonts/KelsonSans-LightRU.woff') format('woff'),
       url('../fonts/KelsonSans-LightRU.ttf') format('truetype'),
       url('../fonts/KelsonSans-LightRU.svg#KelsonSans-LightRU') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

