@import "fonts.css";
div {
  box-sizing: border-box;
}
.tip_style {
  color: #777;
}
.ui-icon {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: text-bottom;
}
.ui-icon-in-modal-window {
  float: left;
  margin: 0 7px 20px 0;
}
.ui-tooltip {
  padding: 5px;
  font: bold 10px "HelveticaNeueCyr-Roman";
}
.ui-datepicker,
.ui-dialog {
  font-size: 11px;
  color: #777;
}
.placeholder {
  box-sizing: content-box;
  height: 28px;
  border: 1px solid #eee;
  background-color: #ddd;
  font-size: 12px;
  padding: 10px 15px;
  color: #777;
}
.left_col .placeholder {
  box-shadow: 4px 0 4px -2px #ccc inset, 3px 0 1px -1px #999;
}
.right_col .placeholder {
  box-shadow: -4px 0 4px -2px #ccc inset, -3px 0 1px -1px #999;
}
#blank {
  display: none;
}
.task_module {
  margin-bottom: 10px;
  position: relative;
}
.task_module .task_main_block {
  height: 50px;
  border: 1px solid #eee;
  background-color: #ddd;
}
.task_module .task_main_block .task_first_row,
.task_module .task_main_block .task_second_row {
  height: 25px;
}
.task_module .task_main_block .task_first_row {
  padding-left: 5px;
  line-height: 25px;
  font-size: 12px;
}
.task_module .task_main_block .task_first_row .task_date_start,
.task_module .task_main_block .task_first_row .task_date_end {
  display: inline-block;
  width: 62px;
}
.task_module .task_main_block .task_first_row input.task_date_start,
.task_module .task_main_block .task_first_row input.task_date_end {
  width: 62px;
  border: none;
  background-color: #eeb;
  font-size: inherit;
}
.task_module .task_main_block .task_first_row .task_button_edit,
.task_module .task_main_block .task_first_row .task_button_cancel,
.task_module .task_main_block .task_first_row .task_button_done,
.task_module .task_main_block .task_first_row .task_button_delete,
.task_module .task_main_block .task_first_row .task_button_backInWork {
  height: 100%;
  float: left;
  width: 10%;
  border-left: 1px solid #eee;
  text-align: center;
  transition: background-color 1s 0s;
}
.task_module .task_main_block .task_first_row .task_button_edit:hover,
.task_module .task_main_block .task_first_row .task_button_cancel:hover,
.task_module .task_main_block .task_first_row .task_button_done:hover,
.task_module .task_main_block .task_first_row .task_button_delete:hover,
.task_module .task_main_block .task_first_row .task_button_backInWork:hover {
  cursor: pointer;
}
.task_module .task_main_block .task_first_row .task_attr {
  float: left;
  border-left: none;
  text-align: left;
}
.task_module .task_main_block .task_first_row .task_button_edit:hover {
  background-color: #ee6;
}
.task_module .task_main_block .task_first_row .task_button_cancel:hover,
.task_module .task_main_block .task_first_row .task_button_delete:hover {
  background-color: #e66;
}
.task_module .task_main_block .task_first_row .task_button_done:hover,
.task_module .task_main_block .task_first_row .task_button_backInWork:hover {
  background-color: #6e6;
}
.task_module .task_main_block .task_second_row {
  border-top: 1px solid #eee;
}
.task_module .task_main_block .task_second_row .task_title,
.task_module .task_main_block .task_second_row .task_button_showComment {
  float: left;
  line-height: 23px;
}
.task_module .task_main_block .task_second_row .task_title {
  width: 85%;
  padding: 0 5px;
  border-right: 1px solid #eee;
  font-weight: bold;
  letter-spacing: 0.1em;
  height: 23px;
  overflow: hidden;
}
.task_module .task_main_block .task_second_row input {
  float: left;
  width: 85%;
  box-sizing: border-box;
  border: none;
  height: 22px;
  padding: 0 5px;
  background-color: #eeb;
}
.task_module .task_main_block .task_second_row .task_button_showComment {
  width: 15%;
  height: 23px;
  text-align: center;
  transition: background-color 1s 0s;
}
.task_module .task_main_block .task_second_row .task_button_showComment:hover {
  background-color: #66e;
  cursor: pointer;
}
.task_module .task_comment {
  width: 95%;
  position: relative;
  padding: 10px 5px;
  background-color: #ddd;
  border: 1px solid #eee;
  border-top: none;
}
.task_module textarea.task_comment {
  width: 90.75%;
  background-color: #eeb;
  height: 75px;
  resize: none;
  font-family: "HelveticaNeueCyr-Roman";
}
.right_col .task_main_block {
  box-shadow: -4px 0 4px -2px #ccc inset, -3px 0 1px -1px #999;
}
.right_col .task_comment {
  left: 5%;
  box-shadow: -4px 0 4px -2px #ccc inset, -3px 0 1px -1px #999;
}
.right_col .task_attr {
  width: 70%;
}
.right_col .task_button_delete,
.right_col .task_button_backInWork {
  display: none;
}
.left_col .task_main_block {
  box-shadow: 4px 0 4px -2px #ccc inset, 3px 0 1px -1px #999;
}
.left_col .task_comment {
  left: 0;
  box-shadow: 4px 0 4px -2px #ccc inset, 3px 0 1px -1px #999;
}
.left_col .task_attr {
  width: 80%;
}
.left_col .task_button_edit,
.left_col .task_button_cancel,
.left_col .task_button_done {
  display: none;
}
html,
body {
  height: 100%;
}
body {
  background-color: #eee;
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 12px;
}
body:before {
  content: "";
  position: fixed;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  z-index: -1;
}
.wrap {
  min-height: 100%;
  padding-bottom: 90px;
}
.wrap_header,
.wrap_footer {
  background-color: #333;
}
.wrap_footer {
  margin-top: -50px;
}
.header,
.footer {
  height: 50px;
  padding: 0 35px;
  margin: 0 auto;
  width: 600px;
  color: #fff;
  line-height: 50px;
}
.header {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.footer {
  font-size: 12px;
  box-shadow: 0 -1px 0 0 #777, 0 -2px 0 0 #888, 0 -4px 0 0 #999, 0 -5px 0 0 #bbb;
}
h1,
.header,
.footer,
.add_task form table td:first-child,
.button_add_new_task {
  font-family: "KelsonSans-LightRU";
}
.main {
  width: 600px;
  margin: 0 auto;
  box-shadow: 0px 6px 5px -3px #777 inset;
}
.main:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.left_col,
.right_col {
  width: 50%;
  float: left;
}
.left_col>div,
.right_col>div {
  padding-top: 20px;
}
.left_col>div h1,
.right_col>div h1 {
  font-size: 18px;
  color: #eee;
  padding: 15px;
}
.left_col {
  padding-right: 20px;
}
.left_col>div {
  min-height: 129px;
  padding-bottom: 1px;
}
.left_col div.add_task form {
  background-color: #ddd;
  border: 1px solid #eee;
  padding: 10px 0;
  box-shadow: 4px 0 4px -2px #ccc inset, 3px 0 1px -1px #999;
}
.left_col div.add_task form table {
  width: 100%;
}
.left_col div.add_task form table td {
  padding: 5px 0;
}
.left_col div.add_task form table td .datepicker_start,
.left_col div.add_task form table td .datepicker_end,
.left_col div.add_task form table td .new_task_title {
  font-family: "HelveticaNeueCyr-Roman";
}
.left_col div.add_task form table td .datepicker_start,
.left_col div.add_task form table td .datepicker_end {
  width: 70px;
  color: #777;
  padding-left: 5px;
}
.left_col div.add_task form table td .new_task_title {
  width: 89%;
  height: 20px;
  padding: 0 5px;
}
.left_col div.add_task form table td .new_task_comment {
  height: 100px;
  width: 90%;
  resize: none;
  padding: 3px 5px;
  font-family: inherit;
}
.left_col div.add_task form table td .button_add_new_task {
  width: 96%;
  height: 30px;
  background-color: #333;
  border: 1px solid #eee;
  color: #fff;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.left_col div.add_task form table td:first-child {
  width: 30%;
  padding: 10px 0 0 15px;
  vertical-align: top;
}
.right_col {
  padding-left: 20px;
}
